body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .tabs {
    text-align: center;
    margin-top: 20px;
  }
  
  .tab {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    transition: background-color 0.3s;
  }

  .tab:hover {
    background-color: #ddd;
  }
  
  .tab-content {
    display: none;
    padding: 20px;
  }
  
  .register-button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 4px; 
  }
  .send-code-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #users {
    margin-top: 20px;
  }
  